body{
    background-color: #efeee7;
    width:800px;
    margin: 0 auto;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 150%;
}

h1{
    font-size: 28px;
    padding: 20px;
    margin-bottom: 20px;
}

#content{
    /* width:800px; */
    margin: 0 auto; 
    margin-left: 10%;
    margin-top: 5%;
}

#nav{
    float: right;
    width: auto;
    margin-top: 3.5%;
    font-variant: all-petite-caps;
}

#logo{
    width: auto;
    border: black;
    /* margin-left: 0px; */
    float: left;
    text-align: center;
}
.wrapper{
    width: auto;
    margin: 0 auto;
}

#topBar{
    /* margin:0; */
}

.navBar{
    background: turquoise;
    /* margin-top: 0px; */
    /* margin-left: 0px; */
    height: 50px;
    text-align: center;
    width: 100%;
    border: black;
    border-width: thick;
}

.image{
    max-width: 25%;
    max-width: 25%;
    margin-right: 20px;
    float: left;
}